<div id="container">
    <div id="main">

        <div class="row">
            {{! {{> iOSstatusbar }}
            <div class="header">
                <div class="container page-title-bar nostatus">
                    <div class="col-xs-2 menu-ctrl icon-menu"></div>
                    <div class="col-xs-8 text-center page-title">
                        Dashboard
                    </div>
                    <a href="/logout">
                        <div class="col-xs-2 text-right logout-ctrl">Logout</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container ipad-sidebump container-bump">

            {{#each foobar}}
                {{#if this.checkedIn}}
                    <div class="row">
                        <div class="col-xs-12 mypet-row relative">
                            <img src="{{this.img_link}}" alt="" data-id="{{this._id}}"
                                 class="img-circle pet-icon checked-in">
                            <img src="/assets/img/icons/smallcheck.svg" class="checkinbadge"></span>
                            <p class="pet-name">{{this.pet_name}}</p>
                        </div>
                    </div>
                {{/if}}
                {{#unless this.checkedIn}}
                    <div class="row">
                        <div class="col-xs-12 mypet-row">
                            <img src="{{this.img_link}}" alt="" data-id="{{this._id}}"
                                 class="img-circle pet-icon absent">
                            <p class="pet-name">{{this.pet_name}}</p>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}

        </div>
    </div>
</div>

<div class="footer">
    <div class="row">
        <div class="col-xs-4 text-center">
            <div class="adminfunction"><i class="fa fa-comment-o" aria-hidden="true"></i>
                <div class="adminfunction-text"> Message</div>
            </div>
        </div>
        <div class="col-xs-4 text-center">
            <a href="/selectactivity">
                <div class="adminfunction"><i class="fa fa-paw" aria-hidden="true"></i>
                    <div class="adminfunction-text"> Add Activity</div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="/check">
                <div class="adminfunction"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    <div class="adminfunction-text"> Check in</div>
                </div>
            </a>
        </div>
    </div>
</div>
