<div id="container">
    <div id="main">
        <div class="row">

            {{! {{> iOSstatusbar }}

            <div class="header">
                <div class="container page-title-bar nostatus">
                    <a href="/adminDashboard">
                        <div class="col-xs-2 menu-ctrl icon-arrow-left"></div>
                    </a>
                    <div class="col-xs-8 text-center page-title">
                        Check In / Out
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-bump">
            <div class="col-xs-12">

                <div class="container ipad-sidebump">

                    {{#each selPet}}

                        {{#if this.checkedIn}}
                            <div class="col-xs-2 text-center">
                                <a href="/check/{{this.pets_id}}">
                                    <img src="{{this.img_link}}" alt="" data-id="{{this._id}}"
                                         class="img-circle pet-icon-select checked-in">
                                    <span><img src="/assets/img/icons/smallcheck.svg"
                                               class="checkinbadge-petselect"></span>
                                </a>
                                <span class="img-label">{{this.pet_name}}</span>
                            </div>
                        {{/if}}

                        {{#unless this.checkedIn}}
                            <div class="col-xs-2 text-center">
                                <a href="/check/{{this.pets_id}}">
                                    <img src="{{this.img_link}}" alt="" data-id="{{this.pets_id}}"
                                         class="img-circle pet-icon-select absent">
                                </a>
                                <span class="img-label">{{this.pet_name}}</span>
                            </div>
                        {{/unless}}

                    {{/each}}

                </div>
            </div>

        </div>
    </div>
</div>