<div id="container">
    <div id="main">
{{#each thisPet}}

        <div class="row">
            <div class="header">
                <div class="container">
                    <div class="col-xs-2 back-ctrl icon-arrow-left"></div>
                    <div class="col-xs-8 text-center page-title">
                        {{this.pet_name}}
                    </div>
                    <div class="col-xs-2 text-right edit-ctrl">Edit</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="div hero-bg text-center">
                <img src="{{this.img_link}}" alt="" class="img-circle hero-img">
            </div>
        </div>
{{/each}}

        <div class="col-xs-6 text-center">
            <div class="function"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
            <div>Message</div>
        </div>
        <div class="col-xs-6 text-center">
            <div class="function"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
            <p>Calendar</p>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="container dailyreport">
                    Daily Report
                </div>
            </div>rs

        </div>
<!--==================================================-->

    {{#each eventHbsObject}}

            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        <img src="/assets/img/icons/{{this.image_name}}.svg" alt="" class="event-icon">
                        <p class="event-title">{{this.event_type}}</p>
                        <p class="event-subtitle">{{this.notes}}</p>
                        <p class="event-time">{{this.createdAt}}</p>
                        <img src="{{this.img_link}}" alt="" class="image-daily">
                    </div>
                </div>
            </div>


    {{/each}}


    </div>
</div>